input[type="time"] {
    border: none;
    background: transparent;
    color: white;
    font-size: 2em;
}

input[type="time"]:focus {
    outline: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    content: "⌚";
    display: flex;
    flex-direction: column;
    color: aliceblue;
    border: none;
}